* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header h1 {
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(255, 123, 0);
    font-family: 'Staatliches', cursive;
    font-size: 55px;
    letter-spacing: 2px;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: black;
    color: rgb(255, 123, 0);
    list-style: none;
    justify-content: space-evenly;
    padding: 10px;
    box-shadow: rgb(255, 123, 0);
    font-family: 'Righteous', cursive;
    font-size: 20px;
    letter-spacing: 1px;
}

header div {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 123, 0);
}

header div img {
    height: 250px;
}

.imagen-fondo-index {
    background-image: url("../assets/img/mae-mu-I7A_pHLcQK8-unsplash.jpg");
    background-position: center;
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
}

.div-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.index-h2 {
    font-family: 'Righteous', cursive;
    color: rgb(247, 55, 7);
    font-size: 100px;
    border-width: 5px;
    border-style: groove;
    border-color: rgb(247, 96, 8);
    text-align: center;
    text-shadow: 7px 7px black;
}

footer {
    background-color: rgb(255, 123, 0);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

footer nav ul li {
    font-family: 'Righteous', cursive;
    font-size: 15px;
    list-style: none;
}

.imagen-footer {
    height: 100px;
}

/* HASTA ACA ES EL INDEX */
.header-producto {
    width: 100%;
}

.titulo-productos {
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(255, 123, 0);
    font-family: 'Staatliches', cursive;
    font-size: 55px;
    letter-spacing: 2px;
}

.imagen-producto1 {
    height: 200px;
    justify-items: center;
    grid-area: thor;
}

.imagen-producto2 {
    height: 150px;
    justify-items: center;
}

.imagen-producto3 {
    height: 200px;
    justify-items: center;
}

.imagen-producto4 {
    height: 200px;
    justify-items: center;
}

.imagen-producto5 {
    height: 200px;
    justify-items: center;
}

.parrafo-producto {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: rgb(236, 109, 25);
    text-shadow: 2px 2px rgb(7, 6, 6);
}

.grids {
    background-image: url(../assets/img/greta-scholderle-moller-Ux5tId0y0sc-unsplash.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px 400px 400px 400px 400px;
}

.div-area-thor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end: 3;

}

.div-area-thor img {
    height: 350px;
}

.div-area-odin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.div-area-odin img {
    height: 350px;
}

.div-area-blot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.div-area-blot img {
    height: 350px;
}

.div-area-freyja {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.div-area-freyja img {
    height: 350px;
}

.div-area-loki {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.div-area-loki img {
    height: 400px;
}

.div-area-papas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.h2-productos {
    font-family: 'Staatliches', cursive;
    color: darkorange;
    font-size: 40px;
    text-shadow: 2px 2px rgba(15, 116, 175, 0.911);
    letter-spacing: 1px;

}

.footer-productos {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* hasta aca esya lo de productos */

.main-promos {
    background-image: url(../assets/img/fuego\ 1.jpg);
    width: 100%;
    height: 100%;
}

.titulo-h2-promos {
    text-shadow: 2px 2px rgba(15, 116, 175, 0.911);
    font-size: 40px;
    color: rgb(255, 123, 0);
    text-align: center;
    letter-spacing: 2px;

}

.descripcion-promos {
    font-family: 'Staatliches', cursive;
    color: darkorange;
    font-size: 25px;
    text-shadow: 2px 2px rgba(15, 116, 175, 0.911);
    letter-spacing: 1px;
}

.h2-papas {
    font-family: 'Staatliches', cursive;
    color: darkorange;
    font-size: 30px;
    text-shadow: 2px 2px rgba(15, 116, 175, 0.911);
    letter-spacing: 1px;
}

.imagen-compra-ya {
    height: 150px;
}

.hero {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.div-area-pose {
    grid-column-start: 1;
    grid-column-end: 2;
}

.div-area-zeus {
    grid-column-start: 3;
    grid-column-end: 4;
}

.div-todospapas {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-items: center;
}

.boton-compra {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-items: center;
    align-items: center;
}

.footer-promos {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* HASTA ACA ESTA LO DE PROMOS */

.main-pedidos {
    background-image: url(../assets/img/foto\ delivery.jpg);
    width: 100%;
    height: 1000px;
    object-fit: contain;
    background-position: center;

}

.div-h2-pedidos {
    display: flex;
    font-family: 'Play', sans-serif;
    font-size: 30px;
    color: rgb(255, 123, 0);
    text-shadow: 4px 4px black;
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
}

.div-pedidos-enlace {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 263px;

}

.logo-pedidos {
    height: 400px;
}

.h3-pedidos {
    font-family: 'Play', sans-serif;
    font-size: 25px;
    color: rgb(255, 123, 0);
    text-shadow: 2px 2px rgb(7, 1, 1);
}
.footer-pedidos{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}