.main-pedidos {
    background-image: url(../assets/img/foto\ delivery.jpg);
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    overflow: hidden;

    div {
        display: flex;
        font-family: 'Play', sans-serif;
        font-size: 30px;
        color: $background-principal;
        text-shadow: 4px 4px $background-secundario;
        justify-content: center;
        padding-top: 40px;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
}

.div-pedidos-enlace {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 263px;

    h3 {
        font-family: 'Play', sans-serif;
        font-size: 25px;
        color: $background-principal;
        text-shadow: 2px 2px $background-secundario;
        flex-wrap: wrap;
    }

    img {
        height: 400px;
    }
}